.link1 {
    position: relative;
    display: inline-block;
  }
  
  a {
    color: orange;
    text-decoration: none;
    position: absolute;
    top: 87.9%;
    left: 7.5%;
    transform: translate(-40%, -50%);
    font-size: 40px;
  }


.link2
  
  a {
    color: orange;
    text-decoration: none;
    position: absolute;
    top: 245%;
    left: 10%;
    transform: translate(-40%, -50%);
    font-size: 40px;
  }